@media (max-width: 640px) {
 body {
  /* Location of the image*/
  background-image: url(/pictures/background/black-white-bg.jpg);
  
  /* Background image is centered vertically and horizontally at all times*/ 
  background-position: center center;
  
  /* Background image doesn't tile*/ 
  background-repeat: no-repeat;
  
  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height*/ 
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based
     on the container's size */
  background-size: cover;
  
  /* Set a background color that will be displayed
     while the background image is loading*/ 
  background-color: #464646;
}

/*header and footer on all pages*/
  
.headericon{
  display: none;
  color: rgb(205, 133, 63);
}
 
  .navbar-brand {
     padding-left: 2em;
    margin-top:1em;
  }
  .logobrand{
    display:none;
  }
  .brandtext{
    display: block;
    color: rgb(205, 133, 63);
    text-align: center;
    font-family: 'Spicy Rice', cursive;
    
  }
    
  footer {
  background-color: #212529;
  color: white;
  min-height: 100px;
  margin: 0;
  display: flex;
  justify-content: center;
  text-align: center;

}
    .footer-text{
    font-family: "Roboto", sans-serif;
    margin-left:30px;
    margin-top:20px;
    font-size: small;
  }
  
  .social-links{
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 30%;
    padding-bottom: 15px;
    margin-right:71px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  .social-links li a i {
  width: 32px;
  height: 32px;
  font-size: 20px;

}

.brown {
  color: rgb(205, 133, 63);

}

}
  
  .centerp1 {
  text-align: center;
  color: black;
  background-color:rgb(255,255,255);
  font-family: "Roboto", sans-serif;
  font-size: small;
  
}
.centerh1 {
  text-align: center;
  padding-left: 10px;
  color: yellow;
  background-color: rgba(205, 133, 63, 0.7);
  font-family: "Roboto", sans-serif;
}
 /*index.html*/

  .youtube{
    width: 70%;
    height: auto;
    margin-top: 90px;
    margin-bottom: 10px;
    margin-left:50px;
    

  }
 .link {
  display:block;
  padding-right: 1px;
  text-align: center;
  color: white;
  background-color: rgb(205, 133, 63)
  
}
  /*band*/
 .centerh1 {
  text-align: center;
  padding-left: 10px;
  color: yellow;
  background-color: rgba(205, 133, 63, 0.7);
  font-family: "Roboto", sans-serif;
  font-size: x-large;

}
  
  .col-sm{
  margin-top: 10px;
   max-width: 50%;}
  
  .pictures{
    padding-bottom: 100px;
  }
  
  .textstyle-band{
  text-align: center;
  color:black;
  background-color: white;
  font-family: "Roboto", sans-serif;
  
  }
  .icon{
    margin-right: 10px;
  }
  
  .centerinfo{
    text-align: center;
    color: blue;
  background-color: white;
    
  }
  .bookpic{
    margin-left: 65px;
    margin-top:50px;
  }
  
  /*media*/
  .titlesong {
  padding-left: 10px;
  text-align: center;
  color: black;
  background-color: white;
  font-size: small;
  
  font-family: "Roboto", sans-serif;
}

.titlesong1 {
  padding-left: 30px;
  padding-right:30px;
  text-align:center;
  color: black;
  background-color: white;
  font-size: small;
  font-family: "Roboto", sans-serif;
}




.pic1 {
  width: 60%;
  height: auto;
  padding: 10 10 50 10;
  margin-top: 10px;
  margin-left: 68px;
  margin-bottom:40px;
 
}

.audio{
  width: 60%;
  margin-bottom:100px;
  margin-left: 68px;
}

 /*contact*/
#form_container
{
  width: 70%;
  height: 40%;
  margin-top:9px;
	margin-left: 60px;
	background: rgba(0,0,0,0.5);	
	color:#fff;
	background-color: #000;
	


}
.upload-btn-wrapper 
{
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] 
{
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

@media (max-width: 10240px) {
 body {
